<app-admin-navigation></app-admin-navigation>

<div class="row">
  <div class="col-sm-3">
    <div>
      <label>Town Name:</label>
      <br />
      <input [(ngModel)]="name" name="name" type="text" autoComplete="off" required class="form-control spacer" />
      <br />
      <button (click)="addTown()" class="btn btn-primary">Add Town</button>
    </div>
  </div>
  <div class="col-sm-9">
    <div *ngFor="let town of towns$" class="admin-entity">
      <button (click)="removeTown(town.id)" class="btn btn-danger">X</button>
      <span>{{town.name}}</span>
      <hr />
    </div>
  </div>
</div>

<app-error [errors]="errors"></app-error>
