<div class='admin-nav navbar navbar-inverse'>
  <ul class='nav navbar-nav'>
    <li [routerLinkActive]='["active"]' [routerLinkActiveOptions]='{ exact: true }'>
      <a [routerLink]='["/admin"]'>
        Users
      </a>
    </li>
    <li [routerLinkActive]='["active"]'>
      <a [routerLink]='["/admin/makes"]'>
        Vehicle Makes
      </a>
    </li>
    <li [routerLinkActive]='["active"]'>
      <a [routerLink]='["/admin/models"]'>
        Vehicle Models
      </a>
    </li>
    <li [routerLinkActive]='["active"]'>
      <a [routerLink]='["/admin/vehicletypes"]'>
        Vehicle Types
      </a>
    </li>
    <li [routerLinkActive]='["active"]'>
      <a [routerLink]='["/admin/fueltypes"]'>
        Fuel Types
      </a>
    </li>
    <li [routerLinkActive]='["active"]'>
      <a [routerLink]='["/admin/gearboxtypes"]'>
        Gearbox Types
      </a>
    </li>
    <li [routerLinkActive]='["active"]'>
      <a [routerLink]='["/admin/towns"]'>
        Towns
      </a>
    </li>
    <li [routerLinkActive]='["active"]'>
      <a [routerLink]='["/admin/colors"]'>
        Colors
      </a>
    </li>
  </ul>
</div>
