<div class='main-nav'>
  <div class='navbar navbar-inverse'>
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <a class='navbar-brand' [routerLink]='["/"]'>
        <span class='glyphicon glyphicon-road'></span> AutoTrade
      </a>
    </div>
    <div class='clearfix'></div>
    <div class='navbar-collapse collapse'>
      <ul class='nav navbar-nav'>
        <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
          <a [routerLink]='["/"]'>
            <span class='glyphicon glyphicon-home'></span> Home
          </a>
        </li>
        <li [routerLinkActive]='["link-active"]'>
          <a [routerLink]='["/search"]'>
            <span class='glyphicon glyphicon-search'></span> Search Vehicle
          </a>
        </li>
        <li *ngIf="(isAdmin$ | async)" [routerLinkActive]='["link-active"]'>
          <a [routerLink]='["/admin"]'>
            <span class='glyphicon glyphicon-warning-sign'></span> Administration
          </a>
        </li>

        <ng-container *ngIf="(isAuth$ | async)">
          <li [routerLinkActive]='["link-active"]'>
            <a [routerLink]='["/profile"]'>
              <span class='glyphicon glyphicon-user'></span> Profile
            </a>
          </li>
          <li [routerLinkActive]='["link-active"]'>
            <a (click)="logOut()">
              <span class='glyphicon glyphicon-off'></span> Logout
            </a>
          </li>
        </ng-container>

        <ng-container *ngIf="!(isAuth$ | async)">
          <li [routerLinkActive]='["link-active"]'>
            <a [routerLink]='["/register"]'>
              <span class='glyphicon glyphicon-th-list'></span> Register
            </a>
          </li>
          <li [routerLinkActive]='["link-active"]'>
            <a [routerLink]='["/login"]'>
              <span class='glyphicon glyphicon-off'></span> Login
            </a>
          </li>
          <li [routerLinkActive]='["link-active"]'>
            <a [routerLink]='["/forgotpassword"]'>
              <span class='glyphicon glyphicon-refresh'></span> Forgot Password
            </a>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</div>
