<app-admin-navigation></app-admin-navigation>

<div class="row">
  <div class="col-sm-3">
    <div>
      <label>Username or Email:</label>
      <br />
      <input [(ngModel)]="search" name="search" type="text" autoComplete="off" class="form-control spacer" />
      <br />
      <button (click)="searchUser()" class="btn btn-primary">Search</button>
    </div>
    <app-error [errors]="errors"></app-error>
  </div>
  <div class="col-sm-9">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Email</th>
          <th scope="col">Username</th>
          <th scope="col">Role</th>
          <th scope="col">Change Role</th>
          <th scope="col">Delete?</th>
        </tr>
      </thead>
      <tr *ngFor="let user of users$">
        <td>{{user.email}}</td>
        <td>{{user.userName}}</td>
        <td>{{user.isAdmin ? 'Admin' : 'User'}}</td>
        <td>
          <button (click)="changeRole(user.id, user.isAdmin)" class="btn btn-default">
            {{user.isAdmin ? 'Make User' : 'Make Admin'}}
          </button>
        </td>
        <td>
          <button (click)="removeUser(user.id)" class="btn btn-danger">X</button>
        </td>
      </tr>
    </table>
  </div>
</div>

