<app-admin-navigation></app-admin-navigation>

<div class="row">
  <div class="col-sm-3">
    <div class="spacer">
      <label class="spacer">Make Name:</label>
      <select (change)="selectType()" [(ngModel)]="makeId" name="MakeId" class="form-control">
        <option [value]="0">Select Vehicle Make</option>
        <option *ngFor="let make of makes$" [value]="make.id">{{make.name}}</option>
      </select>
    </div>

    <ng-container *ngIf="makeId > 0">
      <div class="spacer">
        <label class="spacer">Vehicle Type:</label>
        <select (change)="selectType()" [(ngModel)]="typeId" name="TypeId" class="form-control">
          <option [value]="0">Select Vehicle Make</option>
          <option *ngFor="let type of types$" [value]="type.id">{{type.name}}</option>
        </select>
      </div>
      <div class="spacer">
        <label>Model Name:</label>
        <br />
        <input [(ngModel)]="name" name="name" type="text" autoComplete="off" required class="form-control spacer" />
        <br />
        <button (click)="addModel()" class="btn btn-primary">Add Model</button>
      </div>
    </ng-container>

  </div>
  <div class="col-sm-9">
    <div *ngFor="let model of models$" class="admin-entity">
      <button (click)="removeModel(model.id)" class="btn btn-danger">X</button>
      <span>{{model.name}}</span>
      <hr />
    </div>
  </div>
</div>

<app-error [errors]="errors"></app-error>
