<app-profile-navigation></app-profile-navigation>
<div>
  <form #changePassForm="ngForm" (ngSubmit)="onSubmit()">
    <label>Email:</label>
    <input [(ngModel)]="email" name="email" type="email" autoComplete="off" required class="form-control spacer" email />
    <label>Old Password:</label>
    <input [(ngModel)]="oldPassword" name="oldPassword" type="password" required class="form-control spacer" />
    <label>New Password:</label>
    <input [(ngModel)]="password" name="password" type="password" required class="form-control spacer" />
    <br />
    <button type="submit" class="btn btn-primary spacer" [disabled]="!changePassForm.form.valid">Submit</button>
  </form>

  <app-error [errors]="errors"></app-error>
</div>

