<div class='profile-nav navbar navbar-inverse'>
  <ul class='nav navbar-nav'>
    <li [routerLinkActive]='["link-active"]'>
      <a [routerLink]='["/profile"]'>
        <span class='glyphicon glyphicon-user'></span>
      </a>
    </li>
    <li [routerLinkActive]='["link-active"]'>
      <a [routerLink]='["/profile/changepassword"]'>
        Change Password
      </a>
    </li>
    <li [routerLinkActive]='["link-active"]'>
      <a [routerLink]='["/profile/vehicles"]'>
        List Vehicles
      </a>
    </li>
    <li [routerLinkActive]='["link-active"]'>
      <a [routerLink]='["/profile/addvehicle"]'>
        Add Vehicle
      </a>
    </li>
  </ul>
</div>
