<form *ngIf="allCommons$ && vehicle && vehicleMakes$" #vehicleForm="ngForm" (ngSubmit)="onSubmit($event.target)">
  <div class="row">
    <div class="col-sm-6">
      <div>
        <label>Vehicle Type:</label>
        <select [(ngModel)]="vehicle.typeId" (change)="initMakes()" name="typeId" minlength="1" class="form-control spacer">
          <option [value]="0">Select Vehicle Type</option>
          <option *ngFor="let type of allCommons$.vehicleTypes" [value]="type.id">{{type.name}}</option>
        </select>
      </div>

      <div>
        <label>Fuel Type:</label>
        <select [(ngModel)]="vehicle.fuelTypeId" name="fuelTypeId" minlength="1" class="form-control spacer">
          <option [value]="0" disabled>Select Fuel Type</option>
          <option *ngFor="let type of allCommons$.fuelTypes" [value]="type.id">{{type.name}}</option>
        </select>
      </div>

      <div>
        <label>Gearbox Type:</label>
        <select [(ngModel)]="vehicle.gearboxTypeId" name="gearboxTypeId" minlength="1" class="form-control spacer">
          <option [value]="0" disabled>Select Gearbox Type</option>
          <option *ngFor="let type of allCommons$.gearboxTypes" [value]="type.id">{{type.name}}</option>
        </select>
      </div>

      <label>Makes:</label>
      <select [(ngModel)]="vehicle.makeId" (change)="initMakes()" name="makeId" minlength="1" class="form-control spacer">
        <option [value]="0" disabled>Select Make</option>
        <option *ngFor="let make of vehicleMakes$" [value]="make.id">{{make.name}}</option>
      </select>

      <div>
        <label>Models:</label>
        <select [(ngModel)]="vehicle.modelId" name="modelId" minlength="1" class="form-control spacer">
          <option [value]="0" disabled>Select Model</option>
          <option *ngFor="let model of vehicleModels$" [value]="model.id">{{model.name}}</option>
        </select>
      </div>

      <div>
        <label>Colors:</label>
        <select [(ngModel)]="vehicle.colorId" name="colorId" minlength="1" class="form-control spacer">
          <option [value]="0" disabled>Select Color</option>
          <option *ngFor="let color of allCommons$.colors" [value]="color.id">{{color.name}}</option>
        </select>
      </div>

      <div class="spacer">
        <label>Horse power:</label>
        <input [(ngModel)]="vehicle.horsePower" type="number" name="horsePower" minlength="1" class="form-control" />
      </div>

      <div class="spacer">
        <label>Price (BGN):</label>
        <input [(ngModel)]="vehicle.price" type="number" name="price" minlength="1" class="form-control" />
      </div>
    </div>


    <div class="col-sm-6">
      <div class="spacer">
        <label>Cubic capacity (cm3):</label>
        <input [(ngModel)]="vehicle.cubicCapacity" type="number" name="cubicCapacity" minlength="50" class="form-control spacer" />
      </div>

      <div>
        <label>Airbags:</label>
        <select [(ngModel)]="vehicle.airbags" name="airbags" class="form-control spacer">
          <option [value]="true">Yes</option>
          <option [value]="false">No</option>
        </select>
      </div>

      <div>
        <label>ABS:</label>
        <select [(ngModel)]="vehicle.abs" name="abs" class="form-control spacer">
          <option [value]="true">Yes</option>
          <option [value]="false">No</option>
        </select>
      </div>

      <div>
        <label>ESP:</label>
        <select [(ngModel)]="vehicle.esp" name="esp" class="form-control spacer">
          <option [value]="true">Yes</option>
          <option [value]="false">No</option>
        </select>
      </div>

      <div>
        <label>Central Locking:</label>
        <select [(ngModel)]="vehicle.centralLocking" name="centralLocking" class="form-control spacer">
          <option [value]="true">Yes</option>
          <option [value]="false">No</option>
        </select>
      </div>

      <div>
        <label>Air Conditioning:</label>
        <select [(ngModel)]="vehicle.airConditioning" name="airConditioning" class="form-control spacer">
          <option [value]="true">Yes</option>
          <option [value]="false">No</option>
        </select>
      </div>

      <div>
        <label>Auto Pilot:</label>
        <select [(ngModel)]="vehicle.autoPilot" name="autoPilot" class="form-control spacer">
          <option [value]="true">Yes</option>
          <option [value]="false">No</option>
        </select>
      </div>

      <div class="spacer">
        <label>Production Date:</label>
        <input [(ngModel)]="vehicle.productionDate" type="date" name="productionDate" class="form-control spacer" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div>
        <label>Images (.png or .jpg):</label>
        <input type="file" name="uploadImages" accept="image/png, image/jpeg" class="spacer" />
        <input type="file" name="uploadImages" accept="image/png, image/jpeg" class="spacer" />
        <input type="file" name="uploadImages" accept="image/png, image/jpeg" class="spacer" />
        <input type="file" name="uploadImages" accept="image/png, image/jpeg" class="spacer" />
        <input type="file" name="uploadImages" accept="image/png, image/jpeg" class="spacer" />
      </div>
    </div>

    <div class="col-sm-6">
      <div class="spacer">
        <input type="file" name="uploadImages" accept="image/png, image/jpeg" class="spacer" />
        <input type="file" name="uploadImages" accept="image/png, image/jpeg" class="spacer" />
        <input type="file" name="uploadImages" accept="image/png, image/jpeg" class="spacer" />
        <input type="file" name="uploadImages" accept="image/png, image/jpeg" class="spacer" />
        <input type="file" name="uploadImages" accept="image/png, image/jpeg" class="spacer" />
      </div>

      <button type="submit" class="btn btn-primary spacer" [disabled]="!vehicleForm.form.valid || isSubmited"
              style="margin-right: 50px">
        Submit
      </button>
      <button type="button" *ngIf="(user$ && vehicle.userId === user$.id) || (user$.isAdmin && vehicle.userId)"
              (click)="removeVehicle(vehicle.id)" [disabled]="isSubmited" class="btn btn-danger spacer">
        Delete
      </button>
    </div>
  </div>
</form>

<app-error [errors]="errors"></app-error>
